@import "theme.scss";

.form {
	background-color: $base;
	border-radius: $border-radius;
	padding: $wrapper-padding;
	margin-right: -$wrapper-padding;
	margin-left: -$wrapper-padding;
	display: grid;

	$item-padding: .6rem;

	input, label, textarea, h1 {
		display: block;
		padding: $item-padding;
	}

	div.form-title {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: flex-end;
		padding: $item-padding;
		padding-top: 0;
		
		h1 {
			margin: 0;
			padding: 0;
		}
		span {
			display: block;
			a {
				color: $green;
				text-decoration: none;
			}
		}
	}

	input, textarea {
		resize: none; 
		outline: none;
		border: none;
		border-radius: $border-radius;

		font-size: 1rem;
		color: $text;
		background-color: $surface0;

		&:not(:last-child) {
			margin-bottom: .3rem;
		}
		&:active, &:focus {
			outline: 1px solid $green;
		}
	}
	input[type="submit"] {
		margin-top: 1.6rem;
		padding: .5rem;
		background-color: $green;
		color: $base;
		cursor: pointer;
	}

	ul.errorlist {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		padding: .3rem;
		border-radius: $border-radius;
		font-weight: bold;
		color: $red;
		font-weight: bold;
		&:not(:last-child) {
			margin-bottom: .5rem;
		}
	}
}

