@import "nav.scss";
@import "form.scss";
@import "footer.scss";
@import "theme.scss";
@import "fonts.scss";
@import "messages.scss";

html, body {
	margin: 0;
	padding: 0;
	font-size: 0.94rem;
}

* {
	box-sizing: border-box;
	font-family: Montserrat;
}

body {
	background-color: $mantle;
	color: $text;
}

::selection {
	color: $base;
	background: $green;
}

#content-wrapper {
	width: $max-content-width;
	max-width: $max-content-width-relative;
	margin: 0 auto;
}

