@import "theme.scss";

.flash-messages {
	width: $max-content-width;
	max-width: $max-content-width-relative;
	list-style: none;
	margin: 0 auto;
	margin-bottom: 1rem;
	padding: 0;
	
	li {
		padding: .3rem;
		border-radius: $border-radius;
		font-weight: bold;
		&:not(:last-child) {
			margin-bottom: .5rem;
		}
	}
	.success {
		color: $green;
	}
	.error {
		color: $red;
	}
}

