@import "theme.scss";

.post-list {
	list-style: none;
	padding: 0 $wrapper-padding !important;
	margin: 0;
	font-size: 0.9rem;

	li:not(:last-child)::after {
		display: block;
		height: 1px;
		margin: 0;
		background-color: $surface0;
		content: "";
	}
	.post-head {
		h1 {
			margin: 0 !important;
		}
		padding: $wrapper-padding 0;
	}
}

