{% load static %}
<nav>
	<div id="nav-main">
		<a id="home-link" href="/">
			<div id="branding">
				<img id="icon" src="{% static 'icon.png' %}">
				<span><b>ONION</b><b>TALK</b></span>
			</div>
		</a>
		<ul>
			<li><a class="navlink" href="{% url 'new_post' %}">Submit</a></li>
		</ul>
	</div>
	<ul class="nav-user-actions">
		{% if user.is_authenticated %}
		<li><a class="navlink" href="{% url 'user_profile' user.id %}">{{ user.get_username }}</a></li>
		{% else %}
		<li><a class="navlink" href="{% url 'login' %}">Login</a></li>
		{% endif %}
	</ul>
</nav>
